<% if logged_in? %>
  <script>
   window.currentUser = {
     id: <%= current_user.id %>,
     username: "<%= current_user.username %>"
   }
  </script>
<% end %>

<script>
 window.blue = "<%= asset_path('blue.jpg')%>"
</script>

<main id="root"></main>
