/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html,
body,
section,
article,
h1,
p,
div,
a {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  color: inherit;
  background: transparent;
  font-family: "Barlow", sans-serif;
  color: #595959;
}
body {
  font-family: sans-serif;
  /* padding: 100px; */
}
h1 {
  margin: 0 0 20px 0;
  font-size: 60px;
  font-weight: bold;
}
p {
  margin: 20px 0;
}

input:focus {
  outline: none;
}

input::placeholder {
  font-weight: lighter;
}

.navbar {
  background-color: #ffffff;
  border-bottom: 1px solid #e4e4e4;
  /* justify-content: space-between; */
  margin-top: 0;
  /* display: table; */
  padding-left: 0;
  height: 80px;
  position: relative;
  z-index: 5;
  /* box-shadow: 0 1px 0 #DBDBDB; */
  width: 100%;
}

.right-navbar {
  /* display: table-cell; */
  display: block;
  vertical-align: middle;
  max-height: 81px;
}
.right-navbar-list {
  list-style: none;
  padding-left: 0;
  margin: 0;
  display: table;
}

div.logo {
  display: table-cell;
  vertical-align: middle;
  width: 10%;
  position: absolute;
  top: 20px;
  left: 20px;
  color: red;
}

.session-button {
  font-size: 12px;
  font-weight: 600;
  color: #737373;
  line-height: 20px;
  padding: 29px 10px;
  margin: 1px 0px;
  border: none;
  background: none;
  position: absolute;
  top: 0;
}

.login-div button,
.user-icon-div button {
  right: 20px;
}

.signup-div button {
  right: 100px;
}

.help-div button {
  right: 80px;
}

.messages-div button {
  right: 140px;
}

.trips-div button {
  right: 220px;
}

button.session-button:hover {
  border-bottom: 2px solid gray;
  cursor: pointer;
}

button.session-button:active {
  border-bottom: none;
  outline: none;
}

button.session-button:focus {
  outline: none;
}

/* SESSION FORMS */

.session-instructions {
  font-size: 20px;
  font-weight: bold;
}

.session-form {
  align-items: center;
  width: 500px;
  padding-top: 40px;
  padding-bottom: 10px;
}

.submit-button {
  width: 100%;
  background-color: #ff6666;
  color: #ffffff;
  line-height: 22px;
  font-size: 19px;
  padding: 12px 0;
  border-radius: 4px;
}

.submit-button:hover {
  cursor: pointer;
  outline: none;
}

[class^="session-div-input-"] {
  width: 100%;
  display: block;
  z-index: 0;
  background-color: #ffffff;
  border-radius: 2px;
  border: 1px solid #dbdbdb;
  margin-bottom: 8px;
  line-height: 24px;
}

[class^="session-input-"] {
  line-height: 24px;
  font-size: 19px;
  color: #484848;
  font-weight: 300;
  background-color: transparent;
  border: 0;
  padding: 11px;
  padding-right: 0;
  width: 90%;
}

[class^="session-icon-"] {
  width: 10%;
}

.session-div-input-birthday {
  border: none;
}

.session-birthday-header {
  font-size: 18px;
  font-weight: 400;
  margin: 4px;
}

.session-birthday-info {
  font-size: 12px;
  font-weight: 300;
  margin: 4px;
}

.birthday-select {
  font-size: 19px;
  padding: 11px 40px 11px 11px;
  color: #484848;
  font-weight: 300;
  margin: 10px;
  font-family: "Barlow", sans-serif;
  background: none;
  background-color: #ffffff;
  border-radius: 2px;
  border: 1px solid #dbdbdb;
}

.birthday-select:focus {
  outline: none;
  border: 1px solid #006666;
}

.marketing-emails-opt {
  margin: 10px 0;
  display: flex;
  vertical-align: center;
}

.checkbox-label {
  padding-left: 4px;
}

#marketing-checkbox {
  float: left;
}

.other-form-instructions {
  padding: 20px;
}

.other-form-link {
  color: #009999;
}

.other-form-link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.session-errors {
  position: absolute;
  left: 80px;
  top: 20px;
  color: red;
}

/* MODALS */

.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  max-height: 100%;
  transform: translate(-50%, -50%);
  background-color: white;
  width: 570px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.close-x {
  width: 20px;
  background-color: white;
  border-radius: 50%;
  text-align: center;
  vertical-align: center;
  box-shadow: 0px 0px 2px 1px rgba(230, 230, 230, 1);
  padding: 4px;
  margin: 6px;
  color: #999999;
  position: absolute;
  left: 0px;
}
.close-x:hover {
  cursor: pointer;
}

.close-x:active {
  background-color: lightgrey;
}

.dropdown {
  display: inline-block;
}

.dropdown__content {
  display: none;
  position: absolute;
}

.dropdown--active .dropdown__content {
  display: block;
}
