/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery-ui/slider
 */

html,
body,
section,
article,
h1,
p,
div,
a,
ul {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  color: inherit;
  background: transparent;
  font-family: "Barlow", sans-serif;
  color: #595959;
  text-decoration: none;
}
body {
  font-family: sans-serif;
  /* padding: 100px; */
}
h1 {
  margin: 0 0 20px 20px;
  font-size: 60px;
  font-weight: bold;
}
p {
  margin: 20px 0;
}

input:focus {
  outline: none;
}

input::placeholder {
  font-weight: lighter;
}
