.filter-bar {
  position: fixed;
  top: 81px;
  display: block;
  height: 65px;
  z-index: 50;
  border-bottom: 1px solid #e4e4e4;
  background-color: white;
  width: 100%;
}

.everything-but-filter {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.7);
  z-index: 49;
}

.filter-button {
  line-height: 16px;
  vertical-align: center;
  margin: 17.5px 10px;
  padding: 6px 12px;
  border: 1px solid lightgrey;
  display: inline-block;
  border-radius: 4px;
}

.filter-button:first-of-type {
  margin-left: 30px;
}

.filter-button:hover {
  cursor: pointer;
  background-color: lightgrey;
}

.selected {
  background-color: #239090;
  color: #ffffff;
}

.dates-filter {
  z-index: 500;
  width: 350px;
  height: 100px;
  background-color: #ffffff;
  border: 1px solid lightgrey;
  border-radius: 4px;
  position: absolute;
  top: 146px;
  left: 50px;
}

.dates-filter-apply-clear {
  position: absolute;
  bottom: 10px;
  font-size: 16px;
  width: 310px;
  display: flex;
  justify-content: space-between;
}

.dates-filter-apply {
  margin-left: 280px;
  color: #239090;
}

.dates-filter-clear {
  margin-left: 12px;
  position: absolute;
  left: 10px;
}

.dates-filter-clear:hover,
.dates-filter-apply:hover {
  cursor: pointer;
  text-decoration: underline;
}

.guests-filter {
  z-index: 500;
  width: 350px;
  height: 200px;
  background-color: #ffffff;
  border: 1px solid lightgrey;
  border-radius: 4px;
  position: absolute;
  top: 146px;
  left: 130px;
}

.guests-filter-content {
  padding: 30px 16px 30px 20px;
  display: flex;
  justify-content: space-between;
  line-height: 30px;
  vertical-align: center;
  font-size: 20px;
  font-weight: 300;
}

.guests-filter-plus,
.guests-filter-minus {
  height: 34px;
  width: 34px;
  border: 1px solid #1e7b7b;
  border-radius: 17px;
  text-align: center;
  vertical-align: center;
  margin: 0 18px;
}

.guests-filter-plus:hover,
.guests-filter-minus:hover {
  cursor: pointer;
}

.guests-filter-plus:active,
.guests-filter-minus:active {
  box-shadow: 0px 0px 8px 0px #239090;
}

.guests-filter-text {
  padding-right: 100px;
}

.guests-filter-adults {
  width: 100%;
  display: flex;
}

.guests-filter-apply-clear {
  position: absolute;
  bottom: 10px;
  font-size: 16px;
  width: 310px;
  display: flex;
  justify-content: space-between;
}

.guests-filter-apply {
  margin-left: 260px;
  color: #239090;
}

.guests-filter-clear {
  position: absolute;
  left: 10px;
}

.guests-filter-apply:hover,
.guests-filter-clear:hover {
  cursor: pointer;
  text-decoration: underline;
}

.price-filter {
  z-index: 500;
  width: 350px;
  height: 200px;
  background-color: #ffffff;
  border: 1px solid lightgrey;
  border-radius: 4px;
  position: absolute;
  top: 146px;
  left: 200px;
}

.price-filter-content {
  padding: 30px 16px 20px 24px;
  display: flex;
  justify-content: space-between;
  line-height: 30px;
  vertical-align: center;
  font-size: 20px;
  font-weight: 300;
}

.price-range {
  font-size: 18px;
  font-weight: 400;
  color: grey;
  border: none;
}

#price-slider {
  width: 260px;
  margin-left: 10px;
  margin-top: 30px !important;
}

.price-filter-average {
  font-size: 16px;
  font-weight: 300;
  margin-left: 0 !important;
}

.price-slider p {
  margin-bottom: 20px !important;
  margin-top: 0px !important;
  margin-left: 0px !important;
}

.ui-slider-handle {
  height: 40px !important;
  width: 40px !important;
  border-radius: 20px !important;
  background-color: #ffffff !important;
  bottom: 30px !important;
  top: -16px !important;
  // left: -4px !important;
}

.ui-slider-horizontal {
  height: 6px !important;
}
.ui-slider-handle:first-of-type {
  // left: -5% !important;
}

.ui-slider-handle:active {
  outline: none !important;
  border-color: #239090 !important;
  z-index: 1000 !important;
}

.ui-slider-handle:focus {
  outline: none !important;
}

.ui-slider {
  margin-top: 20px !important;
}

.ui-slider-range {
  bottom: -10px !important;
  background-color: #239090 !important;
}

.price-filter-apply-clear {
  position: absolute;
  bottom: 10px;
  font-size: 16px;
  width: 310px;
  display: flex;
  justify-content: space-between;
}

.price-filter-apply {
  margin-left: 260px;
  color: #239090;
}

.price-filter-clear {
  position: absolute;
  left: 10 px;
}

.price-filter-apply:hover,
.price-filter-clear:hover {
  cursor: pointer;
  text-decoration: underline;
}
