.filter-bar {
  position: fixed;
  top: 81px;
  display: block;
  height: 65px;
  z-index: 101;
  border-bottom: 1px solid #e4e4e4;
  background-color: white;
  width: 100%;
}

.everything-but-filter {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.7);
  z-index: 99;
}

.filter-button {
  line-height: 16px;
  vertical-align: center;
  margin: 17.5px 10px;
  padding: 6px 12px;
  border: 1px solid lightgrey;
  display: inline-block;
  border-radius: 4px;
}

.filter-button:first-of-type {
  margin-left: 30px;
}

.filter-button:hover {
  cursor: pointer;
  background-color: lightgrey;
}
