.home-show-page {
  position: absolute;
  top: 81px;
  width: 100%;
}

.home-show-image-container {
  height: 500px;
  width: 100%;
  // display: flex;
  // justify-content: space-between;
  // align-content: center;
  position: relative;
  background-color: black;
}

.carousel-wrapper {
  margin-left: 30vw;
}

.carousel-wrapper img {
  box-shadow: 0 0 8px 8px rgba(0, 0, 0, 1) inset;
}
.home-show-image-background {
  height: 100%;
  width: 30vw;
  background-color: black;
}

.home-show-image {
  height: 500px;
  width: 750px;
  border-radius: 6px;
  position: absolute;
  left: 25%;
  background-repeat: no-repeat;
  background-size: 100%;
  box-shadow: 0 0 8px 8px rgba(0, 0, 0, 1) inset;
}

.home-show-info {
  width: 600px;
  margin-left: 15%;
  margin-top: 30px;
  height: auto;
  position: relative;
  border-bottom: 1px solid lightgrey;
}

.info-header {
  display: block;
}

.info-space {
  font-size: 12px;
  font-weight: 600;
  display: block;
}

.info-title {
  font-size: 32px;
  font-weight: 600;
  color: #404040;
  display: block;
}

.info-location {
  margin-top: 6px;
  display: block;
}

.icon-section {
  display: flex;
  justify-content: left;
  font-size: 16px;
  margin-top: 14px;
}

.icon {
  line-height: 24px;
  vertical-align: center;
  width: auto;
  margin-right: 24px;
}

.icon span {
  line-height: 1em;
  vertical-align: center;
  margin-left: 8px;
}

.description {
  font-size: 18px;
  font-weight: 300;
  margin-top: 18px;
}

.contact-host {
  width: 100%;
  color: #239090;
  font-size: 18px;
  margin-top: 18px;
  margin-bottom: 18px;
}

.contact-host:hover {
  cursor: pointer;
  text-decoration: underline;
}

.rental-form-box {
  position: absolute;
  right: 15%;
  top: 521px;
  z-index: 50;
  width: 375px;
  height: 400px;
  border: 1px solid lightgrey;
  background-color: #ffffff;
}

.rental-form-header {
  height: 50px;
  margin: 20px;
  border-bottom: 1px solid lightgrey;
  padding-bottom: 10px;
}

.rental-form-price {
  font-weight: 600;
  font-size: 20px;
  color: #404040;
}

.rental-form-input-headers {
  margin: 10px 20px 10px 20px;
  margin-right: 80px;
  display: flex;
  justify-content: space-between;
  font-size: 12px;
}

.dates-div,
.guests-div {
  margin: 10px 20px 20px 20px;
  width: 85%;
  border: 1px solid lightgrey;
  border-radius: 2px;
  position: relative;
  height: 34px;
}

.date-input {
  width: 100%;
  display: inline;
  margin: 8px;
}

.date-input > input {
  border: none;
  width: 100%;
  font-size: 16px;
  padding: 1px 0 1px 1px;
}

.date-input > input:focus {
  background-color: #32cdcd;
  color: #004080;
  border-radius: 4px;
}

.arrow {
  float: left;
  height: 100%;
}

.arrow i.material-icons {
  margin: 5px;
}

.check-in,
.check-out {
  display: flex;
  justify-content: space-between;
  width: 36%;
  font-size: 14px;
  margin-left: 6px;
  float: left;
}

.DayPicker-wrapper {
  background-color: #ffffff;
  border: 1px solid lightgrey;
  border-radius: 2px;
  box-shadow: 0px 1px 5px 0px rgba(212, 212, 212, 1);
  position: absolute;
  top: 10px;
  z-index: 100;
}

.guests-value {
  width: 80%;
  padding: 6px;
  font-size: 16px;
  margin-left: 6px;
  float: left;
  position: absolute;
}

.guests-value:focus {
  background-color: blue;
}

.everything-but-guests-form {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 102;
}

.guests-form {
  z-index: 500;
  width: 350px;
  height: 200px;
  background-color: #ffffff;
  box-shadow: 0px 1px 5px 0px rgba(212, 212, 212, 1);
  border: 1px solid lightgrey;
  border-radius: 4px;
  position: absolute;
  right: 25%;
  bottom: 40px;
}

.guests-form-content {
  padding: 30px 16px 30px 20px;
  display: flex;
  justify-content: space-between;
  line-height: 30px;
  vertical-align: center;
  font-size: 20px;
  font-weight: 300;
}

.guests-form-plus,
.guests-form-minus {
  height: 34px;
  width: 34px;
  border: 1px solid #1e7b7b;
  border-radius: 17px;
  text-align: center;
  vertical-align: center;
  margin: 0 18px;
}

.guests-form-plus:hover,
.guests-form-minus:hover {
  cursor: pointer;
}

.guests-form-plus:active,
.guests-form-minus:active {
  box-shadow: 0px 0px 8px 0px #239090;
}

.guests-form-text {
  padding-right: 100px;
}

.guests-form-adults {
  width: 100%;
  display: flex;
}

.guests-form-apply-clear {
  position: absolute;
  bottom: 10px;
  font-size: 16px;
  width: 310px;
  display: flex;
  justify-content: space-between;
}

.guests-form-close {
  position: absolute;
  bottom: 10px;
  right: 20px;
  font-size: 16px;
  width: auto;
  color: #239090;
}

.guests-form-close:hover {
  cursor: pointer;
  text-decoration: underline;
}

.rental-button-div {
  position: absolute;
  width: 86%;
}
.rental-button {
  width: 100%;
  margin: 16px 19px;
  background-color: #ff6666;
  color: #ffffff;
  line-height: 22px;
  font-size: 16px;
  padding: 12px 0;
  border-radius: 4px;
}

.rental-button:hover {
  cursor: pointer;
}

.rental-form-errors {
  position: absolute;
  right: 10px;
  top: 0;
  color: red;
}

.confirmation-content {
  align-items: center;
  width: 500px;
  padding-top: 60px;
  padding-bottom: 40px;
}

.confirmation-thanks {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}
