.home-search {
  display: flex;
  position: relative;
}

.map {
  position: fixed;
  display: block;
  height: 40px;
}

#map-fix {
  position: fixed;
  top: 165px;
  right: 26px;
  left: auto;
  width: 600px;
  height: 700px;
}

#home-map-container {
  width: 100%;
  height: 100%;
  position: fixed;
}

#home-map-container img {
  max-width: none !important;
}

.index-page {
  height: 100%;
  width: 66.67%;
  margin-right: 650px;
  padding-left: 24px;
}

.index-header {
  margin-top: 184px;
  font-size: 30px;
  font-weight: 600;
}

.home-index-div {
  margin-top: 20px;
  padding-right: 2px;
  // padding-left: 10px;
  width: 100%;
  display: grid;

  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 14px;
}

@media (max-width: 950px) {
  .home-index-div {
    display: none;
  }
}


.home-index-item-div {
  width: 100%;
  height: 100%;
  margin-right: 2px;
}

.thumbnail-image {
  display: block;
  border-radius: 4px;
  width: 100%;
  max-height: 250px;
  max-width: 375px;
}

.thumbnail-image-backup {
  display: block;
  position: absolute;
  z-index: -1;
  border-radius: 4px;
  width: 50%;
  max-height: 200px;
  max-width: 300px;
  filter: opacity(0.5) drop-shadow(0 0 0 red) brightness(3);
}

.thumbnail-info {
  width: 100%;
  height: 100px;
}

.thumbnail-occupancy {
  display: block;
  color: darkblue;
}

.thumbnail-title {
  display: block;
  font-size: 20px;
  font-weight: 600;
}

.thumbnail-price {
  display: block;
  font-weight: 200;
}

.window-info {
  padding-left: 10px;
  width: 90%;
  height: 60px;
}

.gm-style-iw {
  position: absolute !important;
  left: 18px !important;
  width: 320px !important;
}
