.loader-background {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #ffffff;
  opacity: 0.8;
  z-index: 10000000;
}

.loader {
  position: fixed;
  top: 300px;
  left: 45%;

  /* border: 16px solid #f3f3f3; /* Light grey */
  /* border-top: 16px solid #3498db; /* Blue */
  z-index: 1000000;
  filter: opacity(0.5) drop-shadow(0 0 0 red) brightness(3);
  background-image: url("/assets/ghost.png");
  background-size: 100%;
  /* border-radius: 50%; */
  width: 200px;
  height: 200px;
  animation: spin 0.5s linear infinite;
  -webkit-animation: spin 0.5s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dots {
  0% {
    opacity: 1;
    transform: translate(-200px);
  }

  30% {
    opacity: 1;
    transform: translate(-200px);
  }

  31% {
    opacity: 0;
  }

  45% {
    opacity: 0;
    transform: translate(0px);
  }

  50% {
    opacity: 1;
    transform: translate(0px);
  }

  80% {
    opacity: 1;
    transform: translate(0px);
  }

  81% {
    opacity: 0;
  }

  94% {
    opacity: 0;
    transform: translate(200px);
  }

  95% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    transform: translate(200px);
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes dots {
  0% {
    -webkit-transform: translate(-50px);
  }

  25% {
    opacity: 0;
  }

  50% {
    opacity: 1;
    -webkit-transform: translate(0px);
  }

  75% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    -webkit-transform: translate(50px);
  }
}
