/* MODALS */

.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 200;
}

.modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  max-height: 100%;
  transform: translate(-50%, -50%);
  background-color: white;
  width: 570px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.close-x {
  width: 20px;
  background-color: white;
  border-radius: 50%;
  text-align: center;
  vertical-align: center;
  box-shadow: 0px 0px 2px 1px rgba(230, 230, 230, 1);
  padding: 4px;
  margin: 6px;
  color: #999999;
  position: absolute;
  left: 0px;
}
.close-x:hover {
  cursor: pointer;
}

.close-x:active {
  background-color: lightgrey;
}
