/* MAIN SPLASH */

#main-splash {
  position: relative;
  height: 800px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

#main-splash img {
  position: absolute;
  width: 1970px;
  height: 900px;
  bottom: -100px;
  left: -50px;
}

#main-splash img.bottom {
  height: 800px;
  width: 1920px;
  bottom: 0;
  left: 0;
}

@-webkit-keyframes cfFadeInOut {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 1;
    transform: translate3d(50px, -100px, 0px);
  }
  25% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes cfFadeInOut {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 1;
    transform: translate3d(50px, -100px, 0px);
  }
  25% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#main-splash img.splash-img {
  animation-name: cfFadeInOut;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
  animation-duration: 50s;
  animation-direction: normal;
  -webkit-animation-name: cfFadeInOut;
  -webkit-animation-timing-function: ease-out;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 50s;
  -webkit-animation-direction: normal;
}

#main-splash img.first {
  z-index: 3;
  animation-delay: 0s;
  -webkit-animation-delay: 0s;
}
#main-splash img.second {
  z-index: 2;
  animation-delay: 12.5s;
  -webkit-animation-delay: 12.5s;
}
#main-splash img.third {
  z-index: 1;
  animation-delay: 25s;
  -webkit-animation-delay: 25s;
}

#main-splash img.bottom {
  z-index: -5;
}

.splash-text {
  position: absolute;
  top: 350px;
  left: 450px;
  height: 200px;
  width: 640px;
  z-index: 50;
  color: #ffffff;
  font-size: 48px;
  font-weight: 600;
  animation-name: splashTextFade;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 50s;
  animation-delay: 37.5s;
  animation-direction: normal;
  -webkit-animation-name: splashTextFade;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-delay: 37.5s;
  -webkit-animation-duration: 50s;
  -webkit-animation-direction: normal;
}

@-webkit-keyframes splashTextFade {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
