/* MAIN SPLASH */

#main-splash {
  position: relative;
  height: 800px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

#main-splash img {
  position: absolute;
  width: 1970px;
  height: 900px;
  bottom: -100px;
  left: -50px;
}

#main-splash img.bottom {
  height: 800px;
  width: 100%;
  bottom: 0;
  left: 0;
}

@-webkit-keyframes cfFadeInOut {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 1;
    transform: translate3d(50px, -100px, 0px);
  }
  25% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes cfFadeInOut {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 1;
    transform: translate3d(50px, -100px, 0px);
  }
  25% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#main-splash img.splash-img {
  animation-name: cfFadeInOut;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  animation-duration: 50s;
  animation-direction: normal;
  -webkit-animation-name: cfFadeInOut;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 60s;
  -webkit-animation-direction: normal;
}

#main-splash img.first {
  z-index: 3;
  animation-delay: 0s;
  -webkit-animation-delay: 0s;
}
#main-splash img.second {
  z-index: 2;
  animation-delay: 12.5s;
  -webkit-animation-delay: 12.6s;
}
#main-splash img.third {
  z-index: 1;
  animation-delay: 25s;
  -webkit-animation-delay: 25.2s;
}

#main-splash img.bottom {
  z-index: -5;
}

.splash-text {
  position: absolute;
  top: 350px;
  left: 450px;
  height: 200px;
  width: 640px;
  z-index: 50;
  color: #ffffff;
  font-size: 48px;
  font-weight: 600;
  animation-name: splashTextFade;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 60s;
  // animation-delay: 37.5s;
  animation-direction: normal;
  -webkit-animation-name: splashTextFade;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
  // -webkit-animation-delay: 37.5s;
  -webkit-animation-duration: 60s;
  -webkit-animation-direction: normal;
}

@-webkit-keyframes splashTextFade {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 1;
  }

  60% {
    opacity: 1;
    color: white;
    -webkit-transform: translateY(0px);
  }
  70% {
    opacity: 0;
    color: red;
    -webkit-transform: translateY(100px);
  }
  // 75% {
  //   opacity: 0;
  // }
  95% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.splash-search {
  position: absolute;
  left: 340px;
  top: 470px;
  z-index: 100;
}
